@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_CustomerLayoutHeaderPartial")

<body class="nav-md footer_fixed">
    <div class="container body">
        <div class="main_container">
            
            @await Component.InvokeAsync("_CustomerLayoutSidebarPartial")

            <!-- top navigation -->
            @await Component.InvokeAsync("_CustomerLayoutNavbarPartial")
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    @RenderBody()
                </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            @await Component.InvokeAsync("_CustomerLayoutFooterPartial")
            <!-- /footer content -->
        </div>
    </div>

    @await Component.InvokeAsync("_CustomerLayoutScriptPartial")
</body>
</html>